accelerate
appdirs
bert_score
bitsandbytes
black
black[jupyter]
datasets
deepspeed
einops
fire
flask
gradio
huggingface-hub
jsonlines
loralib
peft
pycuda
sentencepiece
spacy_fastlang
transformers
triton
